<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/yopaki/BitDevsCDMX.github.io" target="_blank" rel="noopener nofollow">Código fuente disponible en Github</a>
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">Fuente RSS</a>
    </div>
  </div>
</footer>
